.service-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
 
}

.allbutton{
    background-color:  #ff7c5b;
    color: rgb(0, 0, 0);
  
    font-size: 15px;
    font-weight: 700;
    transition: 0.5s;
  }
  
  .allbutton:hover{
   
    background-color:  #f74214;
    color: white;
  }

/*make it responsive*/

@media only screen and (max-width: 688px){
    .service-container{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width:689px) and (max-width:991px){
    .service-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
