.icon {
    margin: 5px;
    padding: 5px;
    
    /* border-radius: 5px; */
    color: white;
    font-size: 30px;
  }
  .icon:hover {
    background-color: rgb(87, 217, 220);
  }
  .footer-menu {
    list-style: none;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
  }
  .footer-menu:hover {
    color: wheat;
  }
  .footer-input {
    padding: 8px;
    border: none;
    outline: none;
    background-color: gray;
  }
  .footer-container {
      background-color: #042f5d;
   
    padding-top: 80px;
    padding-bottom: 2%;
    color: white;
  }
  .foter-phone-icon {
    font-size: 30px;
    color: white;
  }